<div class="hero min-h-screen bg-base-200">
  <div class="text-center">
    <h1 class="text-4xl font-bold mb-6">生成結果一覧</h1>

    <!-- 検索と並び替えフォーム -->
    <%= form_tag bookmarks_path, method: :get, class: "mb-4" do %>
      <%= text_field_tag :search, params[:search], placeholder: "検索...", class: "input input-bordered" %>
      <%= select_tag :order, options_for_select({ '新しい順': 'created_at_desc', '古い順': 'created_at_asc', 'あいうえお順': 'alphabetical', 'オリジナル順': 'is_original' }, params[:order]), prompt: "並び替え", class: "select select-bordered" %>
      <%= submit_tag "検索と並び替え", class: "btn btn-primary" %>
    <% end %>

    <div class="overflow-x-auto">
      <table class="table w-full">
        <!-- テーブルのヘッダー -->
        <thead>
          <tr>
            <th class="bg-base-300">ドリンク名</th>
            <th class="bg-base-300">ドリンク言葉</th>
            <th class="bg-base-300">操作</th>
          </tr>
        </thead>
        <!-- テーブルのボディ -->
        <tbody>
          <% @bookmarks.each do |bookmark| %>
            <tr>
              <td>
                <!-- is_original の場合にアイコンを表示 -->
                <% if bookmark.is_original %>
                  <i class="fa-solid fa-whiskey-glass fa-sm"></i>
                <% else %>
                  <i class="fa-solid fa-robot fa-sm"></i>
                <% end %>
                <%= bookmark.generated_drink %>
              </td>
              <td><%= bookmark.generated_word %></td>
              <td>
                <%= link_to '詳細', bookmark_path(bookmark), class: "btn btn-primary btn-sm" %>
                <%= link_to '削除', bookmark_path(bookmark), method: :delete, data: { confirm: '本当に削除しますか？' }, class: "btn btn-danger btn-sm" %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>