<div class="hero min-h-screen bg-base-200">
  <div class=" w-5/6 mx-auto max-w-screen-xl">
    <%= form_with model: Bookmark.new, local: true, class: "w-full max-w-xl mx-auto p-6 bg-white rounded-lg shadow-md" do |form| %>
      <div class="mb-4">
        <%= form.label :generated_drink, 'ドリンク名', class: "block text-gray-700 text-sm font-bold mb-2" %>
        <%= form.text_field :generated_drink, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
      </div>
  
      <div class="mb-4">
        <%= form.label :generated_word, 'ドリンク言葉', class: "block text-gray-700 text-sm font-bold mb-2" %>
        <%= form.text_field :generated_word, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
      </div>
  
      <div class="mb-4">
        <%= form.label :generated_info, 'ドリンク情報', class: "block text-gray-700 text-sm font-bold mb-2" %>
        <%= form.text_field :generated_info, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
      </div>
  
      <div class="mb-4">
        <%= form.label :image_url, '画像URL', class: "block text-gray-700 text-sm font-bold mb-2" %>
        <%= form.text_field :image_url, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
      </div>
  
      <div class="mb-4">
        <%= form.label :memo, 'メモ', class: "block text-gray-700 text-sm font-bold mb-2" %>
        <%= form.text_area :memo, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline", rows: 4 %>
      </div>
  
      <%= form.hidden_field :is_original, value: true %>
  
      <div class="flex items-center justify-between">
        <%= form.submit 'ブックマークを保存する', class: 'btn btn-primary' %>
      </div>
    <% end %>
  </div>
</div>