<div class="bg-white p-8 rounded-lg shadow max-w-md centered-form">
  <%= form_with model: @user, url: profile_path do |f| %>
    <div class="flex items-center mb-4">
      <!-- プロフィール画像 -->
      <div class="w-24 h-24 mr-4">
        <%= image_tag @user.avatar.url, class: "rounded-full" %>
      </div>
      <!-- ファイルアップロード -->
      <div class="p-4 px-2">
        <%= f.file_field :avatar, class: "hidden", accept: 'image/*', data: { target: '#preview-target' } %>
        <label for="user_avatar" class="btn bg-teal-600 hover:bg-teal-800 text-neutral-50 cursor-pointer">
          画像を変更する
        </label>
      </div>
    </div>

    <!-- 名前入力フィールド -->
    <div class="mb-4 w-full">
      <%= f.label :名前, class: "text-left block text-sm font-medium mb-1" %>
      <%= f.text_field :name, class: "input input-bordered w-full" %>
    </div>

    <!-- 好きな飲み物入力フィールド -->
    <div class="mb-4 w-full">
      <%= f.label :好きな飲み物, class: "text-left block text-sm font-medium text-gray-700 mb-1" %>
      <%= f.text_field :favorite_drink, class: "input input-bordered w-full" %>
    </div>

    <!-- 更新ボタン -->
    <div class="p-8 w-full">
      <%= f.submit "更新する", class: "btn bg-teal-600 hover:bg-teal-800 text-neutral-50 w-full" %>
    </div>
  <% end %>
</div>