<div class="hero min-h-screen bg-gray-100">
  <%= render "shared/loading" %>
  <%= form_with model: @story_form, url: generatedresults_path, method: :get, local: true, id: 'story-form', class: "flex flex-col gap-4 p-4 max-w-md mx-auto" do |form| %>
    <%= form.text_area :story, placeholder: "ここに注文を書いてください。例）希望という意味のドリンクをノンアルコールで作ってください。例2）友達に紅茶をプレゼントしたい。フルーティーで珍しい紅茶を教えて。", class: "textarea textarea-bordered w-full", rows: 3, maxlength: 60, id: "story-textarea" %>
    <span id="char-count" class="text-gray-600">残りの文字数: 60</span>
    <%= form.submit "注文する", class: "btn btn-primary w-full mt-4" %>
  <%= image_tag 'kotonoha_situation.png',class: "p-10  mt-8 mx-12 w-auto max-sm:hidden",size: '250x250'%>
  <%= image_tag 'kotonoha_situation.png',class: "px-14 m-6 w-auto sm:hidden ",size: '100x100'%>
  <div class="text-center">
    注文に応じて飲み物が提案されます。</br>
    60文字以内で書いてください。</br>
    具体的に書くのがみそです🌱</br>
  </div>
  <% end %>
</div>
