<div class="hero min-h-screen bg-gray-100">
  <%= render "shared/loading" %>
  <div class="hero-content flex-col lg:flex-row-reverse">
      <% if @generated_results.present? %>
      <% if @image.present? %>
        <img src="data:image/png;base64,<%= @image %>" alt="<%= @generated_results[:drink_name] %>の画像" class="max-w-sm rounded-lg shadow-2xl" />
      <% else %>
        <div class="placeholder max-w-sm rounded-lg shadow-2xl">
          <p class="text-gray-500">画像はありません。</p>
        </div>
      <% end %>
      <div class="hero min-h-screen bg-gray-100">
        <div class="hero-content flex-col lg:flex-row-reverse">
          <div class="card w-full bg-white shadow-xl">
            <div class="card-body">
              <h2 class="card-title text-4xl">ドリンク情報</h2>

              <div class="mb-4">
                <p class="text-lg"><strong>ドリンク名:</strong> <%= @generated_results[:drink_name] %></p>
                <p class="text-lg"><strong>ドリンク言葉:</strong> <%= @generated_results[:drink_word] %></p>
                <p class="text-lg"><strong>ドリンク情報:</strong> <%= @generated_results[:drink_info] %></p>
              </div>

              <div>
                <% if user_signed_in? && @generated_results.present? %>
                  <div class="flex items-center">
                    <%= form_with model: Bookmark.new, url: bookmarks_path, local: true do |form| %>
                      <!-- 結果を保存 -->
                      <%= form.hidden_field :generated_drink, value: @generated_results[:drink_name] %>
                      <%= form.hidden_field :generated_word, value: @generated_results[:drink_word] %>
                      <%= form.hidden_field :generated_info, value: @generated_results[:drink_info] %>
                      <%= form.hidden_field :image, value: @image %>
                      <%= form.submit "結果を保存する", class: "btn btn-primary mr-2" %>
                    <% end %>
                    <!-- ドリンクシェア -->
                      <%= render "shared/sharingbutton" %>
                  </div>
                <% else %>
                  <!-- ドリンクシェア -->
                  <%= render "shared/sharingbutton" %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% else %>
      <div class="hero min-h-screen bg-base-200">
        <div class="hero-content text-center">
          <div class="max-w-md">
            <h1 class="text-5xl font-bold mb-4">ドリンク情報は見つかりませんでした。</h1>
            <p class="py-6">リクエストされたドリンク情報を見つけることができませんでした。他のキーワードで再度検索してみてください。</p>
          </div>
        </div>
      </div>
    <% end %> 
  </div>
</div>