<div class="hero min-h-screen bg-base-200">
  <div class="hero-content flex-col lg:flex-row-reverse">
      <% if @generated_results.present? %>
      <% if @image_url.present? %>
        <img src="<%= @image_url %>" alt="<%= @generated_results[:drink_name] %>の画像" class="max-w-sm rounded-lg shadow-2xl" />
      <% else %>
        <div class="placeholder max-w-sm rounded-lg shadow-2xl">
          <p class="text-gray-500">画像はありません。</p>
        </div>
      <% end %>
      <div class="hero min-h-screen bg-base-200">
        <div class="hero-content flex-col lg:flex-row-reverse">
          <div class="card w-full bg-base-100 shadow-xl">
            <div class="card-body">
              <h2 class="card-title text-4xl">ドリンク情報</h2>

              <div class="mb-4">
                <p class="text-lg"><strong>ドリンク名:</strong> <%= @generated_results[:first_candidate][:drink_name] %></p>
                <p class="text-lg"><strong>ドリンク言葉:</strong> <%= @generated_results[:first_candidate][:drink_word] %></p>
                <p class="text-lg"><strong>ドリンク情報:</strong> <%= @generated_results[:first_candidate][:drink_info] %></p>
              </div>

              <div>
                <p class="text-lg"><strong>第二候補:</strong> <%= @generated_results[:second_candidate] %></p>
                <p class="text-lg"><strong>第三候補:</strong> <%= @generated_results[:third_candidate] %></p>
              </div>
              <div>
                <% if user_signed_in? && @generated_results.present? %>
                  <div class="flex items-center">
                    <%= form_with model: Bookmark.new, url: bookmarks_path, local: true do |form| %>
                      <!-- フォームのフィールド -->
                      <%= form.hidden_field :generated_drink, value: @generated_results[:first_candidate][:drink_name] %>
                      <%= form.hidden_field :generated_word, value: @generated_results[:first_candidate][:drink_word] %>
                      <%= form.hidden_field :generated_info, value: @generated_results[:first_candidate][:drink_info] %>
                      <%= form.hidden_field :image_url, value: @image_url %>
                      <%= form.submit "結果を保存する", class: "btn btn-primary mr-2" %>
                    <% end %>
                    <!-- シェアボタン -->
                    <button class="btn btn-outline btn-info bg-black hover:bg-gray-800 text-white">
                      <%= link_to "https://twitter.com/intent/tweet?url=#{CGI.escape(request.url)}&text=#{CGI.escape("#{@generated_results[:first_candidate][:drink_name]}のドリンク言葉は#{@generated_results[:first_candidate][:drink_word]}らしいよ〜")}", title: 'Twitter', target: '_blank', class: "flex items-center" do %>
                        <i class="fa-brands fa-square-x-twitter fa-lg"></i>に投稿する
                      <% end %>
                    </button>
                  </div>
                <% else %>
                    <!-- シェアボタン -->
                    <button class="btn btn-outline btn-info bg-black hover:bg-gray-800 text-white">
                      <%= link_to "https://twitter.com/intent/tweet?url=#{CGI.escape(request.url)}&text=#{CGI.escape("#{@generated_results[:first_candidate][:drink_name]}のドリンク言葉は#{@generated_results[:first_candidate][:drink_word]}らしいよ〜")}", title: 'Twitter', target: '_blank', class: "flex items-center" do %>
                        <i class="fa-brands fa-square-x-twitter fa-lg"></i>に投稿する
                      <% end %>
                    </button>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% else %>
      <div class="hero min-h-screen bg-base-200">
        <div class="hero-content text-center">
          <div class="max-w-md">
            <h1 class="text-5xl font-bold mb-4">ドリンク情報は見つかりませんでした。</h1>
            <p class="py-6">リクエストされたドリンク情報を見つけることができませんでした。他のキーワードで再度検索してみてください。</p>
          </div>
        </div>
      </div>
    <% end %> 
  </div>
</div>