<div class="hero min-h-screen bg-white">
  <div class="hero-content text-center w-full">
    <div class="max-w-md w-full">         

      <div>
        <h1 class="text-4xl text-purple-700 font-bold p-8">パスワードの再設定</h1>
      </div>

      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="field p-8">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", autocomplete: "new-password", placeholder: "メールアドレス", class: "input input-bordered w-full max-w-xs"  %>
        </div>

        <div class="actions p-8">
          <%= f.submit "認証メールを送信する", class: "btn w-full max-w-xs bg-teal-600 hover:bg-teal-800 text-neutral-50"%>
        </div>
      <% end %>

      <hr class="my-4 p-4 border-t-3 border-purple-800" />

      <%= render "devise/shared/links" %>


    </div>
  </div>
</div>