<div class="hero min-h-screen bg-teal-50">
  <div class="hero-content text-center w-full">
    <div class="max-w-md w-full">
      <div>
        <h1 class="text-2xl font-bold p-8">ログイン画面</h1>
      </div>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

        <div class="field p-8">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "name@example.com", class: "input input-bordered w-full max-w-xs" %>
        </div>


        <div class="field p-8">
          <%= f.label :password %><br />
          <%= f.password_field :password, autocomplete: "current-password", placeholder: "password", class: "input input-bordered w-full max-w-xs" %>
        </div>

        <% if devise_mapping.rememberable? %>
          <div class="form-control">
            <label class="label cursor-pointer">
              <span class="label-text">ログインを記憶する</span>
              <%= f.check_box :remember_me, class: "checkbox", checked: "checked" %>
            </label>
          </div>
        <% end %>

        <div class="actions p-8 text-green-700 text-xl">
          <%= f.submit "ログイン" %>
        </div>
      <% end %>

      <div class="p-8 text-black">
        <%= render "devise/shared/links" %>
      </div>

    </div>
  </div>
</div>






