<div class="grid grid-cols-1 md:grid-cols-5 gap-4">
  <% @items.first(10).each do |item| %>
    <div class="card card-compact bg-base-100 shadow-xl">
      <figure>
        <%= image_tag(item['mediumImageUrls'][0], class: "object-cover w-full h-48") %>
      </figure>
      <div class="card-body">
        <h2 class="card-title">
          <%= link_to item.name, item.url, class: "text-sm" %>
        </h2>
        <p><%= number_with_delimiter(item.price) %>円</p>
        <div class="flex justify-between items-center">
          <span>評価: <%= item['reviewAverage'] %></span>
          <span>レビュー数: <%= item['reviewCount'] %></span>
        </div>
      </div>
    </div>
  <% end %>
</div>