<%= render "shared/loading" %>
<div class="flex flex-col sm:flex-row ">
  <div class="new-post-form w-full sm:w-1/2">
    <!-- 新規投稿フォーム -->
    <div class="min-h-screen bg-gray-100 flex items-center justify-center w-11/12 mx-auto max-w-screen-xl">
      <div class="container mx-auto max-w-md shadow-md hover:shadow-lg transition duration-300">
        <div class="py-8 p-8 bg-white rounded-xl">
          <div class="mb-6 text-center">
            <h1 class="text-xl text-gray-700 font-semibold">新しい投稿を作成</h1>
          </div>
          <%= form_with(model: @post, local: true, class: "space-y-5") do |form| %>
            <% if @post.visibility == '非公開' %>
              <%= hidden_field_tag :turbo_frame, "private_posts" %>
            <% end %>
            <div>
              <%= form.label :tag_names, "タグ", class: "block text-gray-700 font-medium mb-2" %>
              <%= form.text_field :tag_names, placeholder: "例）お酒,ビール ", class: "input input-bordered w-full max-w-xs" %>
            </div>
            <div>
              <%= form.label :body, "投稿内容", class: "block text-gray-700 font-medium mb-2" %>
              <%= form.text_area :body, rows: 4, placeholder: "飲み物に関する内容を自由に投稿してください",class: "w-full px-3 py-2 text-gray-700 border rounded-lg focus:outline-none focus:border-blue-500" %>
            </div>
            <fieldset class="mt-4">
              <legend class="text-gray-700 font-medium mb-2">公開設定</legend>
              <div class="flex items-center">
                <label class="flex items-center">
                  <%= form.radio_button :visibility, 0, checked: @post.visibility == '非公開', class: "radio mr-2" %>
                  <span class="label-text">非公開</span>
                </label>
                <label class="flex items-center mr-4">
                  <%= form.radio_button :visibility, 1, checked: @post.visibility == '公開', class: "radio mr-2" %>
                  <span class="label-text">公開</span>
                </label>
              </div>
            </fieldset>
            <div class="flex justify-center mt-6">
              <%= form.submit "投稿する", class: "btn btn-primary w-full mt-4" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="private-posts-list w-full sm:w-1/2">
    <%= render 'private_posts', private_posts: @private_posts %>
    <div class=" p-6 text-right">
      <%= search_form_for @q, url: new_post_path, class: "form-control" do |f| %>
        <div class="flex gap-2 items-center">
          <div data-controller="autocomplete" data-autocomplete-url-value="/tags/search" role="combobox">
            <%= f.search_field :tags_name_cont,data: { autocomplete_target: 'input' },placeholder: "タグで検索" ,class: "input input-bordered input-primary w-full max-w-xs" %>
            <%= f.hidden_field :tags_name, data: { autocomplete_target: 'hidden' } %>
            <ul class="list-group bg-white absolute w-full md:text-sm max-w-max" data-autocomplete-target="results"></ul>
            <div class="absolute inset-y-0 left-0 flex items-center pointer-events-none pl-4"></div>
          </div>
          <%= f.submit "検索", class: "btn btn-primary" %>
        </div>
      <% end %>
      <div class="p-2">
        <%= link_to posts_path, class: "btn bg-indigo-500 hover:bg-indigo-600 text-white" do %>
          <i class="fa-regular fa-comments fa-sm"></i>
          みんなの投稿
        <% end %>
      </div>
    </div>
  </div>
</div>
