<div class="hero min-h-screen bg-gray-100">
  <%= render "shared/loading" %>
  <div class="text-center">


  <h1 class="text-lg p-6 text-center font-bold">非公開投稿</h1>
  <div class="flex flex-col items-center justify-center">
    <div class="overflow-x-auto h-96 w-full">
      <table class="table w-full">
        <tbody>
          <% @private_posts.each do |post| %>
            <tr class="hover">
              <td class="relative space-y-4">
                <div class="flex flex-col justify-between h-full">
                  <div>
                    <!-- タグと画像、本文を含む部分 -->
                    <div class="flex flex-wrap">
                      <% post.tags.each do |tag| %>
                        <span class="badge badge-primary badge-outline mr-2">
                          <%= tag.name %>
                        </span>
                      <% end %>
                    </div>
                    <div class="my-4 flex justify-center">
                      <% if post.image.present? %>
                        <%= image_tag post.image.url, alt: "#{post.image}の画像", class: "w-50 h-50 object-cover rounded-lg" %>
                      <% end %>
                    </div>
                    <div class="p-2">
                      <%= post.body %>
                    </div>
                  </div>
                  <!-- 削除ボタンの配置 -->
                  <div class="mt-4 p-2">
                    <%= link_to post_path(post), method: :delete, data: { confirm: '本当に削除しますか？' }, class: "btn btn-outline btn-sm flex items-center absolute bottom-1 right-1" do %>
                      <%= l post.created_at, format: :short %>
                      <i class="fas fa-trash-alt ml-2"></i>
                    <% end %>
                  </div>
                </div>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

    <div class=" p-6 text-right">
      <%= search_form_for @q, url: new_post_path, class: "form-control" do |f| %>
        <div class="flex gap-2 items-center">
          <div data-controller="autocomplete" data-autocomplete-url-value="/tags/search" role="combobox">
            <%= f.search_field :tags_name_cont,data: { autocomplete_target: 'input' },placeholder: "タグで検索" ,class: "input input-bordered input-primary w-full max-w-xs" %>
            <%= f.hidden_field :tags_name, data: { autocomplete_target: 'hidden' } %>
            <ul class="list-group bg-white absolute w-full md:text-sm max-w-max" data-autocomplete-target="results"></ul>
            <div class="absolute inset-y-0 left-0 flex items-center pointer-events-none pl-4"></div>
          </div>
          <%= f.submit "検索", class: "btn btn-primary" %>
        </div>
      <% end %>
      <div class="p-2">
        <%= link_to posts_path, class: "btn bg-indigo-500 hover:bg-indigo-600 text-white" do %>
          <i class="fa-regular fa-comments fa-sm"></i>
          みんなの投稿
        <% end %>
      </div>
    </div>

  </div>
</div>
