<!DOCTYPE html>
<html>
  <head>
    <title>KotonohaDrink</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,700&family=Roboto:wght@500&family=Zen+Maru+Gothic:wght@300;400;500&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/eb48d43c42.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,700&family=Zen+Maru+Gothic:wght@300;400;500&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <script>
      document.addEventListener('DOMContentLoaded', function() {
        const form = document.getElementById('drink-search-form');
        form.addEventListener('submit', function(e) {
          const keyword = form.elements['keyword'].value;
          if (keyword.trim() === '') {
            e.preventDefault();
            // キーワードが空の場合は送信を阻止し、必要に応じてユーザーに警告を表示
            alert("ドリンク名を入力してください。");
          }
        });
      });
    </script>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%= display_meta_tags(default_meta_tags) %>
  </head>

  <body class="font-maru">
    <!-- ナビゲーションバー -->
    <% if user_signed_in? %>
      <%= render "shared/header_logged_in"%>
    <% else %>
      <%= render "shared/header_logged_out" %>
    <% end %>
    <!-- ヒーローセクション -->

    <% flash.each do |key, value| %>
      <% case key %>
      <% when "notice" %>
        <div class="animate-flash fixed top-14 sm:top-24 translate-x-1/2 sm:translate-x-0 right-2 sm:right-6 z-20 w-11/12 sm:w-fit max-w-[90%] sm:max-w-1/2 py-2 sm:py-4 px-4 sm:px-6 flex justify-center items-center bg-amber-400 shadow-lg border border-line-100 rounded-lg">
          <p class="text-sm sm:text-base font-bold text-indigo-950 !leading-none"><%= value %></p>
        </div>
      <% when "alert" %>
        <div class="animate-flash fixed top-14 sm:top-24 translate-x-1/2 sm:translate-x-0 right-2 sm:right-6 z-20 w-11/12 sm:w-fit max-w-[90%] sm:max-w-1/2 py-2 sm:py-4 px-4 sm:px-6 flex justify-center items-center bg-amber-400 shadow-lg border border-line-100 rounded-lg">
          <p class="text-sm sm:text-base font-bold text-indigo-950"><%= value %></p>
        </div>
      <% else %>
        <p class="alert alert-<%= key %>"><%= value %></p>
      <% end %>
    <% end %>

    <%= yield %>
    <!-- お問い合わせ関連　-->
    <%= render "shared/footer" %> 
  </body>

</html>
